<h1>New contact message</h1>
<p><strong>Name:</strong> <%= @contact_message[:name] %></p>
<p><strong>Contact:</strong> <%= @contact_message[:contact] %></p>
<p><strong>Message:</strong></p>
<p><%= simple_format(@contact_message[:message]) %></p>
